.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 15px;
}

/* .Social {
    display: flex;
    justify-content: right;
} */