/* for hompage.js */
.article-list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ad-container {
    display: flex;
    right: 22vw;
    margin-top: 15px;
}
/* ---------------------------------------------------------- */

/* App.js */
.content-container {
    min-height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 100vw;
}
/* ---------------------------------------------------------------- */

