/* base-card.js */
.base-card {
    flex-direction: row;
    max-width: 50rem;
    height: fit-content;
    margin: 10px;
}

.base-card-img {
    margin: 12px;
    height: fit-content;
    max-width: 30rem;
}

.base-card-author {
    font-size: medium;
    font-weight: 300;
    
}
/* --------------------------------------- */

/* header-bar.js */
.header-bar {
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav-link {
    color: #ffffff !important;
    text-align: center;
}

.bar-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100vw;
}
/* ------------------------------------------ */

/* footer-bar.js */
.footer-bar {
    justify-content: center;
    flex-direction: column;
}

.site-info {
    color: #fff;
    font-size: small;
}

.social-container {
    margin-bottom: 25px;
    margin-top: 15px;
}

/* --------------------------------------------- */

/* article-card.js */
.article-card {
    max-width: 50rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 0; */
}

.article-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.article-card-title {
    font-size: xx-large;
    text-align: center;
}

.article-card-author {
    font-size: small;
    font-weight: 300;
    text-align: center;
}

.article-card-img {
    width: fit-content;
    height: fit-content;
    margin: 12px;
    max-width: 50rem;
}
/* ---------------------------------------- */

/* vertical-ad.js*/
.vertical-ad-card {
    width: fit-content;
    height: fit-content;
    margin: 10px;
    max-width: 10vw;
}

.vertical-ad-title {
    text-align: center;
}

.single-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px;
    margin: 5px;
}

/* for hompage.js */
.article-list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ad-container {
    display: flex;
    right: 22vw;
    margin-top: 15px;
}
/* ---------------------------------------------------------- */

/* App.js */
.content-container {
    min-height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 100vw;
}
/* ---------------------------------------------------------------- */

