.base-card {
    flex-direction: row;
    width:65rem;
    height: 35rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.author-tag {
    font-size: small;
    font-weight: 300;
    
}

.top-bar {
    justify-content: center;
    position: sticky;
    top: 0;
}

.footer-bar {
    justify-content: center;
    flex-direction: column;
}

.site-info {
    color: #fff;
    font-size: small;
}

.social-container {
    margin-bottom: 25px;
    margin-top: 15px;
}

.nav-link {
    color: #ffffff !important;
}

/* Article Card */
.article-card {
    width: 65rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-text {
    margin-left: 2rem;
    margin-right: 2rem;
}

.article-card-title {
    font-size: xx-large;
    text-align: center;
}

.article-card-author {
    font-size: small;
    font-weight: 300;
    text-align: center;
}