/* base-card.js */
.base-card {
    flex-direction: row;
    width:65rem;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.base-card-img {
    margin: 12px;
    height: fit-content;
}

.base-card-author {
    font-size: small;
    font-weight: 300;
    
}

/* .img-wrap {
    display: flex;
    align-items: center;
    width: 100%;
} */
/* --------------------------------------- */

/* header-bar.js */
.top-bar {
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav-link {
    color: #ffffff !important;
}
/* ------------------------------------------ */

/* footer-bar.js */
.footer-bar {
    justify-content: center;
    flex-direction: column;
}

.site-info {
    color: #fff;
    font-size: small;
}

.social-container {
    margin-bottom: 25px;
    margin-top: 15px;
}

/* --------------------------------------------- */

/* article-card.js */
.article-card {
    width: 65rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-text {
    margin-left: 2rem;
    margin-right: 2rem;
}

.article-card-title {
    font-size: xx-large;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.article-card-author {
    font-size: small;
    font-weight: 300;
    text-align: center;
}

.article-card-img {
    width: fit-content;
    height: fit-content;
    margin: 12px;
}
/* ---------------------------------------- */

/* vertical-ad.js*/
.vertical-ad-card {
    width: 25rem;
    height: 50rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical-ad-title {
    text-align: center;
}